$light-gray: #f9fafc;
$midle-gray: #9fa4af;
$dark-gray: #4f4f6f;

$transition-duration: 400ms;

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "Maven Pro", sans-serif;
  margin: 0;
}
.main {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  min-height: 600px;
  background: url(../img/head.jpg) no-repeat center;
  background-size: cover;
  position: relative;
  z-index: 2;

  .main-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    background-image: -moz-linear-gradient(
      -56deg,
      rgb(43, 232, 96) 0%,
      rgb(160, 14, 21) 100%
    );
    background-image: -webkit-linear-gradient(
      -56deg,
      rgb(43, 232, 96) 0%,
      rgb(160, 14, 21) 100%
    );
    background-image: -ms-linear-gradient(
      -56deg,
      rgb(43, 232, 96) 0%,
      rgb(160, 14, 21) 100%
    );
  }
  .header {
    display: flex;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    position: relative;
  }
  .menu {
    width: 70%;
    ul {
      display: flex;
      justify-content: space-around;
      list-style: none;
    }
  }
  .menu-link {
    text-decoration: none;
    color: white;
  }
  .get-started-btn {
    margin-left: 60px;
    border: 1px solid #fff;
    border-radius: 40px;
    padding: 10px 20px;
    text-transform: uppercase;
    transition-duration: $transition-duration;
    &:hover {
      background-color: #bd6868;
    }
  }
  .main-text {
    position: relative;
    text-align: center;
    span {
      display: inline-block;
      &::before {
        content: "";
        width: 20px;
        height: 1px;
        background-color: #fff;
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
      }
      &::after {
        content: "";
        width: 20px;
        height: 1px;
        background-color: #fff;
        display: inline-block;
        vertical-align: middle;
        margin-left: 10px;
      }
    }
    h1 {
      font-size: 80px;
      margin: 0.5rem;
    }
  }
  .down-arrow {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    color: gray;
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0px 0px 18.69px 2.31px rgba(204, 204, 223, 0.5);
  }
}
.table {
  background-color: $light-gray;
  height: 100vh;
  min-height: 600px;
}
.table-header {
  text-align: center;
  h2 {
    color: $dark-gray;
  }
  span {
    text-transform: uppercase;
    font-size: 1.4rem;
    color: $midle-gray;
    &::after {
      content: "";
      width: 20px;
      height: 1px;
      background-color: $midle-gray;
      display: inline-block;
      vertical-align: middle;
      margin-left: 10px;
    }
    &::before {
      content: "";
      width: 20px;
      height: 1px;
      background-color: $midle-gray;
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
    }
  }
}
