@import "bourbon"
@import "vars.sass"

body
	font-size: 24px
	color: red
	background:blue
	min-width: 320px
	position: relative
	line-height: 1.6
	font-family: "RobotoRegular", sans-serif
	overflow-x: hidden


.hidden
	display: none

