*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Maven Pro", sans-serif;
  margin: 0; }

.main {
  color: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
  min-height: 600px;
  background: url(../img/head.jpg) no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  z-index: 2; }
  .main .main-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    background-image: -webkit-linear-gradient(-56deg, #2be860 0%, #a00e15 100%);
    background-image: -ms-linear-gradient(-56deg, #2be860 0%, #a00e15 100%); }
  .main .header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 10vh;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 90%;
    position: relative; }
  .main .menu {
    width: 70%; }
    .main .menu ul {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      list-style: none; }
  .main .menu-link {
    text-decoration: none;
    color: white; }
  .main .get-started-btn {
    margin-left: 60px;
    border: 1px solid #fff;
    -webkit-border-radius: 40px;
    border-radius: 40px;
    padding: 10px 20px;
    text-transform: uppercase;
    -webkit-transition-duration: 400ms;
    -o-transition-duration: 400ms;
    transition-duration: 400ms; }
    .main .get-started-btn:hover {
      background-color: #bd6868; }
  .main .main-text {
    position: relative;
    text-align: center; }
    .main .main-text span {
      display: inline-block; }
      .main .main-text span::before {
        content: "";
        width: 20px;
        height: 1px;
        background-color: #fff;
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px; }
      .main .main-text span::after {
        content: "";
        width: 20px;
        height: 1px;
        background-color: #fff;
        display: inline-block;
        vertical-align: middle;
        margin-left: 10px; }
    .main .main-text h1 {
      font-size: 80px;
      margin: 0.5rem; }
  .main .down-arrow {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    color: gray;
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
    background: #fff;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 18.69px 2.31px rgba(204, 204, 223, 0.5);
    box-shadow: 0px 0px 18.69px 2.31px rgba(204, 204, 223, 0.5); }

.table {
  background-color: #f9fafc;
  height: 100vh;
  min-height: 600px; }

.table-header {
  text-align: center; }
  .table-header h2 {
    color: #4f4f6f; }
  .table-header span {
    text-transform: uppercase;
    font-size: 1.4rem;
    color: #9fa4af; }
    .table-header span::after {
      content: "";
      width: 20px;
      height: 1px;
      background-color: #9fa4af;
      display: inline-block;
      vertical-align: middle;
      margin-left: 10px; }
    .table-header span::before {
      content: "";
      width: 20px;
      height: 1px;
      background-color: #9fa4af;
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px; }
